
.header {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,0.6);
    font-family: AndroclesOpti-Heavy;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    position: fixed;
    top: 0;
    z-index: 1;
}

.image {
    width: 5.5rem;
    margin-left: 10%;
}

.navigator {
    margin-right: 10%;
    text-decoration: none;
    color: #fff;
}

.navItem,
.dropdownItem,
.navbarBrand,
.navItem:link,
.dropdownItem:link,
.navbarBrand:link {
    color: #ffffff;
}

.navItem:hover,
.navItem:active,
.navbarBrand:hover,
.navbarBrand:active {
    color: #a4690c;
}


.dropdownMenu {
    background-color: rgba(0,0,0,0.8);
}

.dropdownItem:hover {
    color: #a4690c;
    background-color: rgba(0,0,0,0.8);
}

@media (max-width: 600px){
    .header {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 1.5rem;
    }

    .navbarToggleIcon {
        background-color: #fff;
    }
}
