.divCarousel {
    width: 60%;
    height: 150px;
    margin-top: 6rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: AndroclesOpti-Heavy;
    font-size: larger;
}


@media (max-width: 600px){
    .divCarousel {
        height: 200px;
        margin-top: 3rem;
        font-size: medium;
        width: 70%;
    }
}